@import url(../css/owl.carousel.min.css);
@import url(../css/owl.theme.default.min.css);
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container.flex, .main__manager .manager__flex, .plan__flex, .footer__flex, .contact__form {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #484c55; }

.header {
  background-color: #ffffff; }

.container {
  max-width: 1170px;
  margin: auto; }

@media screen and (max-width: 768px) {
  .container.flex {
    flex-direction: row-reverse;
    justify-content: space-around; } }

.logo {
  font-size: 43px;
  font-family: 'Lobster', cursive; }
  @media screen and (max-width: 1325px) {
    .logo {
      padding-left: 25px; } }
  @media screen and (max-width: 768px) {
    .logo {
      padding: 15px 0; } }
  .logo a {
    text-transform: capitalize;
    color: #44c0c2;
    text-decoration: none; }
  .logo:hover a {
    color: #1b9172; }

.nav .nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 15px; }
.nav li {
  list-style: none;
  padding: 44px 25px;
  transition: 0.2s;
  border-bottom: transparent solid 2px; }
  @media screen and (max-width: 768px) {
    .nav li {
      padding: 20px 0;
      font-size: 25px;
      font-weight: 700;
      width: 100%;
      text-align: center; }
      .nav li:hover {
        background-color: transparent; } }
  .nav li:hover {
    border-bottom-color: #44c0c2;
    background-color: #f8f9fb; }
  .nav li:hover a {
    color: #44c0c2; }
.nav a {
  color: #484c55;
  text-decoration: none;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .nav a {
      color: white; }
      .nav a:hover {
        color: #1b9172; } }
.nav .menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer; }
  .nav .menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #44c0c2;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .nav .menu__icon span:nth-child(1) {
      top: 0; }
    .nav .menu__icon span:nth-child(2), .nav .menu__icon span:nth-child(3) {
      top: 13px; }
    .nav .menu__icon span:nth-child(4) {
      top: 26px; }
.nav.nav_state_open .menu__icon span {
  background: #1b9172; }
  .nav.nav_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .nav.nav_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg); }
  .nav.nav_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg); }
  .nav.nav_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }
.nav.nav_state_open .nav__items {
  opacity: 1;
  visibility: visible; }
@media screen and (max-width: 768px) {
  .nav .menu__icon {
    display: inline-block; }
  .nav .nav__items {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.5, 0.3, 0.3, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.5, 0.3, 0.3, 0.1);
    top: 84px;
    right: 0;
    left: 0;
    background-color: rgba(68, 192, 194, 0.8);
    z-index: 5;
    overflow: auto; } }

.main_carousel {
  position: relative; }

.owl-carousel {
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    background-color: transparent;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    outline: none;
    color: #FFFFFF; }
  .owl-carousel .owl-nav button.owl-next {
    right: 50%;
    transform: translate3d(670px, -50%, 0); }
    @media screen and (max-width: 1325px) {
      .owl-carousel .owl-nav button.owl-next {
        right: 0;
        transform: translate3d(-50px, -50%, 0); } }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-nav button.owl-next {
        display: none; } }
    .owl-carousel .owl-nav button.owl-next:after {
      content: "\f138 "; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 50%;
    transform: translate3d(-670px, -50%, 0); }
    @media screen and (max-width: 1325px) {
      .owl-carousel .owl-nav button.owl-prev {
        left: 0;
        transform: translate3d(50px, -50%, 0); } }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-nav button.owl-prev {
        display: none; } }
    .owl-carousel .owl-nav button.owl-prev:after {
      content: "\f137 "; }
  .owl-carousel .owl-dots {
    overflow: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, -20%, 0);
    background-color: inherit;
    width: 70vw;
    margin: auto;
    display: none;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-dots {
        display: flex; } }
    .owl-carousel .owl-dots button.owl-dot {
      overflow: inherit;
      background-color: inherit;
      border: none; }
      .owl-carousel .owl-dots button.owl-dot.active span {
        background-color: #485460; }
      .owl-carousel .owl-dots button.owl-dot span {
        display: block;
        border-radius: 50%;
        background: white;
        width: 40px;
        height: 40px; }

.carousel__title {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }
  .carousel__title h1 {
    font-size: 63px;
    margin-bottom: 48px;
    font-weight: 600; }
  .carousel__title p {
    font-size: 23px;
    margin-bottom: 58px; }
  .carousel__title a {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 5px;
    display: inline-block;
    padding: 23px 44px;
    color: #FFFFFF;
    transition: .5s ease-out; }
    .carousel__title a:hover {
      background-color: #fff;
      color: #484c55; }
  @media screen and (max-width: 768px) {
    .carousel__title {
      padding: 0 15px;
      min-width: 100%; }
      .carousel__title h1 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px; }
      .carousel__title p {
        margin-bottom: 20px; } }

.slide {
  max-height: 70vh; }
  .slide img {
    display: block;
    width: 100%;
    overflow: hidden; }
  @media screen and (max-width: 768px) {
    .slide {
      min-height: 80vh;
      min-width: 1400px;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .slide {
      min-width: 1000px; } }
  .slide:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(68, 192, 194, 0.5); }

.main__manager {
  padding: 110px 0; }
  @media screen and (max-width: 768px) {
    .main__manager {
      padding: 50px 15px; } }
  .main__manager h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 130px;
    text-align: center;
    text-transform: capitalize; }
    @media screen and (max-width: 768px) {
      .main__manager h2 {
        margin-bottom: 30px; } }
  .main__manager .manager__flex {
    align-items: flex-start; }
    @media screen and (max-width: 900px) {
      .main__manager .manager__flex {
        flex-wrap: wrap;
        justify-content: center; } }
    @media screen and (max-width: 425px) {
      .main__manager .manager__flex {
        flex-direction: column;
        justify-content: space-around; } }
  .main__manager .manager__ico {
    margin-bottom: 70px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main__manager .manager__ico {
        margin-bottom: 15px; } }
    .main__manager .manager__ico img {
      margin: auto;
      border-radius: 50%;
      display: block;
      overflow: hidden; }
  .main__manager .manager__item {
    line-height: 28px; }
    @media screen and (max-width: 900px) {
      .main__manager .manager__item {
        width: 50%; }
        .main__manager .manager__item:after {
          content: "";
          display: block;
          height: 15px;
          width: 70%;
          margin: 0 auto 10px;
          border-bottom: solid #44c0c2 2px; } }
    @media screen and (max-width: 768px) {
      .main__manager .manager__item {
        width: 100%; }
        .main__manager .manager__item:after {
          content: "";
          display: block;
          height: 15px;
          width: 70vw;
          margin: 0 auto 10px;
          border-bottom: solid #44c0c2 2px; } }
    .main__manager .manager__item h3 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 34px; }
      .main__manager .manager__item h3 span {
        font-size: 14px; }
    .main__manager .manager__item p {
      text-align: center;
      padding: 0 10px; }

.main__plan {
  padding: 120px 0;
  background-color: #f1f1f1; }
  @media screen and (max-width: 768px) {
    .main__plan {
      padding: 40px 0; } }

@media screen and (max-width: 900px) {
  .plan__flex {
    justify-content: space-around;
    flex-direction: column; } }

.select__plan {
  width: 370px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .select__plan:hover li:first-child, .select__plan .plan__items.active-plan li:first-child, .plan__items.active-plan .select__plan li:first-child {
    background-color: #44c0c2; }
  .select__plan:hover li a, .select__plan .plan__items.active-plan li a, .plan__items.active-plan .select__plan li a {
    background-color: #44c0c2; }
  .select__plan:hover {
    box-shadow: 8px 9px 10px 0 rgba(27, 145, 114, 0.74);
    transform: translate3d(-8px, -9px, 0); }
  @media screen and (max-width: 768px) {
    .select__plan {
      max-width: 90vw;
      margin-bottom: 20px; }
      .select__plan:hover {
        box-shadow: 0 9px 10px 0 rgba(27, 145, 114, 0.79);
        transform: translate3d(0, -9px, 0); }
      .select__plan:hover li {
        visibility: visible;
        opacity: 1;
        display: block; } }

.plan__items li {
  text-align: center;
  list-style: none;
  line-height: 46px;
  color: #8c9299;
  font-size: 14px;
  display: block;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .plan__items li:first-child {
    color: #fff;
    font-size: 26px;
    line-height: 75px;
    background-color: #485460; }
  .plan__items li:nth-child(2) {
    background-color: #f8f9fb;
    color: #485460;
    font-size: 20px;
    line-height: 70px; }
  .plan__items li:last-child {
    background-color: #f8f9fb;
    color: #485460;
    font-size: 20px;
    line-height: 100px; }
  @media screen and (max-width: 768px) {
    .plan__items li {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s linear;
      display: none; }
      .plan__items li:first-child, .plan__items li:nth-child(2), .plan__items li:last-child {
        display: block;
        visibility: visible;
        opacity: 1; } }
  .plan__items li a {
    display: inline-block;
    margin: auto;
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 0 48px;
    background-color: #485460;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.footer {
  background-image: url("../image/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px; }
  @media screen and (max-width: 1024px) {
    .footer {
      padding: 20px; } }
  .footer h4 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 42px;
    color: #FFFFFF;
    margin-bottom: 118px; }
    @media screen and (max-width: 900px) {
      .footer h4 {
        margin-bottom: 40px; } }
    @media screen and (max-width: 768px) {
      .footer h4 {
        margin-bottom: 40px; }
        .footer h4:after {
          content: "";
          display: block;
          height: 10px;
          width: 70vw;
          margin: auto;
          border-bottom: solid #44c0c2 2px; } }

.footer__flex {
  align-items: flex-start; }
  @media screen and (max-width: 900px) {
    .footer__flex {
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center; } }

.contact__info {
  max-width: 37.1794871795%; }
  @media screen and (max-width: 900px) {
    .contact__info {
      min-width: 100%; } }
  .contact__info h5 {
    color: #FFFFFF;
    font-size: 24px; }
  .contact__info p {
    margin-bottom: 44px;
    color: #FFFFFF; }
  .contact__info h6 {
    color: #bface2;
    font-size: 14px;
    line-height: 26px; }
    @media screen and (max-width: 1024px) {
      .contact__info h6 {
        display: inline-block;
        margin-right: 10px;
        line-height: 42px; } }

.social {
  margin-bottom: 25px; }
  @media screen and (max-width: 1024px) {
    .social {
      display: inline-block; } }
  .social li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%; }
    .social li:first-child {
      background-color: #3b5997; }
    .social li:last-child {
      background-color: #e44c41; }
    .social li:nth-child(2) {
      background-color: #3ec2f3; }
  .social .social__link {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    font-size: 23px;
    text-align: center;
    line-height: 42px; }

.contact__form {
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 48.8034188034%; }
  @media screen and (max-width: 768px) {
    .contact__form {
      min-width: 100%;
      margin-bottom: 20px; } }
  .contact__form input {
    width: 270px;
    line-height: 44px;
    padding: 0 25px;
    margin-bottom: 32px;
    border: none;
    border-radius: 5px; }
    .contact__form input:first-child {
      margin-right: 30px; }
    .contact__form input::-webkit-input-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form input::-moz-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form input:-moz-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form input:-ms-input-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    @media screen and (max-width: 1024px) {
      .contact__form input {
        width: 100%; }
        .contact__form input:first-child {
          margin-right: 0; } }
  .contact__form textarea {
    width: 100%;
    height: 182px;
    line-height: 44px;
    padding: 0 25px;
    resize: none;
    margin-bottom: 32px;
    border: none;
    border-radius: 5px; }
    .contact__form textarea::-webkit-input-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form textarea::-moz-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form textarea:-moz-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .contact__form textarea:-ms-input-placeholder {
      color: #c1c1c1;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
  .contact__form button {
    line-height: 52px;
    padding: 0 58px;
    text-transform: capitalize;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #44c0c2;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    overflow: hidden; }

/*# sourceMappingURL=main.css.map */
