*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #484c55; }

.header {
  background-color: #ffffff; }

.container {
  max-width: 1170px;
  margin: auto; }

.container.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .container.flex {
      flex-direction: row-reverse;
      justify-content: space-around; } }

.logo {
  font-size: 43px;
  font-family: 'Lobster', cursive; }
  @media screen and (max-width: 1325px) {
    .logo {
      padding-left: 25px; } }
  @media screen and (max-width: 767px) {
    .logo {
      padding: 15px 0; } }
  .logo a {
    text-transform: capitalize;
    color: #44c0c2;
    text-decoration: none; }
  .logo:hover a {
    color: #1b9172; }

.nav .nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 15px; }
.nav li {
  list-style: none;
  padding: 44px 25px;
  transition: 0.2s; }
  @media screen and (max-width: 767px) {
    .nav li {
      padding: 20px 0;
      font-size: 25px;
      font-weight: 700;
      width: 100%;
      text-align: center; }
      .nav li:hover {
        background-color: transparent; } }
  .nav li:hover {
    border-bottom: #44c0c2 solid 2px;
    background-color: #f8f9fb; }
  .nav li:hover a {
    color: #44c0c2; }
.nav a {
  color: #484c55;
  text-decoration: none;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .nav a {
      color: white; }
      .nav a:hover {
        color: #1b9172; } }
.nav .menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer; }
  .nav .menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #44c0c2;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .nav .menu__icon span:nth-child(1) {
      top: 0; }
    .nav .menu__icon span:nth-child(2), .nav .menu__icon span:nth-child(3) {
      top: 13px; }
    .nav .menu__icon span:nth-child(4) {
      top: 26px; }
.nav.nav_state_open .menu__icon span {
  background: #1b9172; }
  .nav.nav_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .nav.nav_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg); }
  .nav.nav_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg); }
  .nav.nav_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }
.nav.nav_state_open .nav__items {
  display: block; }
@media screen and (max-width: 767px) {
  .nav .menu__icon {
    display: inline-block; }
  .nav .nav__items {
    position: absolute;
    display: none;
    top: 84px;
    right: 0;
    left: 0;
    background-color: rgba(68, 192, 194, 0.8);
    z-index: 5;
    overflow: auto; } }

.main_carousel {
  position: relative;
  height: 566px; }

.owl-carousel {
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    background-color: transparent;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    outline: none;
    color: #FFFFFF; }
  .owl-carousel .owl-nav button.owl-next {
    right: 50%;
    transform: translate3d(670px, -50%, 0); }
    @media screen and (max-width: 1325px) {
      .owl-carousel .owl-nav button.owl-next {
        right: 0;
        transform: translate3d(-50px, -50%, 0); } }
    .owl-carousel .owl-nav button.owl-next:after {
      content: "\f138 "; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 50%;
    transform: translate3d(-670px, -50%, 0); }
    @media screen and (max-width: 1325px) {
      .owl-carousel .owl-nav button.owl-prev {
        left: 0;
        transform: translate3d(50px, -50%, 0); } }
    .owl-carousel .owl-nav button.owl-prev:after {
      content: "\f137 "; }
  @media screen and (max-width: 767px) {
    .owl-carousel .owl-nav {
      display: none; } }

.carousel__title {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }
  .carousel__title h1 {
    font-size: 63px;
    margin-bottom: 48px;
    font-weight: 600; }
  .carousel__title p {
    font-size: 23px;
    margin-bottom: 58px; }
  .carousel__title a {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 5px;
    display: inline-block;
    padding: 23px 44px;
    color: #FFFFFF; }

.slide {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 566px; }
  .slide:before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(68, 192, 194, 0.5); }
  .slide.first {
    background-image: url("../image/slide1.jpg"); }
  .slide.second {
    background-image: url("../image/slide2.jpg"); }
  .slide.third {
    background-image: url("../image/slide3.jpg"); }

/*# sourceMappingURL=main.css.map */
